.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 100px;
  height: fit-content;
  color: var(--color-primary);
  z-index: 999;
  box-shadow: 1px 2px 50px #000;
}
.login_wrap {
  display: flex;
}
.login_1 {
  width: 500px;
}
.login_1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.big_text {
  width: 100px;
  overflow: hidden;
}
.big_text span {
  position: absolute;
  bottom: 120px;
  left: 120px;
  font-size: 35px;
  color: var(--bg-primary);
}
.login_2 {
  width: 500px;
}
.login_2_wrap {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
}
.form_wrap {
  width: 400px;
}
.form_col {
  display: flex;
  gap: 10px;
}
.google_login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  color: var(--bg-primary);
  margin: 10px 0 10px 0;
}
.google_login span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 10px;
}
