.menu {
  position: absolute;
  background-color: rgb(255, 255, 255);
  /* padding: 10px; */
  width: 250px;
  top: 70px;
  right: 10px;
  box-shadow: 0 1px 20px var(--shadow-2);
}

.menu_items {
  display: flex;
}

.menu_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* padding-bottom: 10px; */
  margin: 10px;
  padding: 10px;
}
/* .menu_item:last-child {
  padding-bottom: 0;
} */

.menu_icon {
  height: 30px;
  width: 30px;
}
