.ab_button_wrap {
  display: flex;
}
.ab_button_wrap .inner {
  padding: 15px 20px;
  border: 2px solid rgb(75, 21, 21);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.inner:hover {
  background-color: rgb(231, 231, 231);
}

/*EqOnOffButton*/
.eq_on_off_button_wrap {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5%;
  cursor: pointer;
}
.eq_on {
  background-color: rgb(233, 230, 230) !important;
}
/*EqOnOffButton*/

/* stage_informer_wrap */
.stage_informer_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game_title {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.title {
  font-size: 24px;
  padding: 15px;
}
.title_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
/* stage_informer_wrap */

/* play_pause_button */

.play_pause_button {
  cursor: pointer;
}
/* play_pause_button */
